{% extends 'AntoSimpleBlogBundle::base.html.twig' %}

{% block body %}
    <h1>A test simple blog bundle</h1>

    <p>Hello world</p>

    <a class="btn btn-default" href="https://bitbucket.org/Apolide">
        <i class="fa fa-github"></i>
        fork me on Bitbucket
    </a>

{% endblock %}