{% form_theme form 'AntoSimpleBlogBundle:Form:bootstrap_3_layout.html.twig' %}
<button type="button" class="btn btn-default filter" data-toggle="collapse" data-target="#filter">{{ 'Show/hide filters'|trans({}, 'admin') }} <i class="fa fa-angle-{{ app.session.get('filter.post') ? 'right' : 'down' }}"></i></button>
<div id="filter" class="collapse {% if app.session.get('filter.post') %} in{% endif %}">
    <form method="get" action="">
        {{ form_widget(form) }}
        <p class="btn-group">
            <button class="btn btn-primary" type="submit" name="submit-filter"><i class="fa fa-filter"></i> {{ 'Filter'|trans({}, 'admin') }}</button>
            <a class="btn btn-default" href="?reset-filter"><i class="fa fa-times"></i> {{ 'Reset filters'|trans({}, 'admin') }}</a>
        </p>
    </form>
</div>
