{% extends "AntoSimpleBlogBundle::base.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'Post'}, 'admin') }} - {{ parent() }}{% endblock %}
{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href="{{ path('admin_post_sort', {field: field, type: 'ASC'}) }}">{{ label }} <i class="fa fa-sort-down"></i></a>
            {% elseif sort.type == 'ASC' %}
                <a href="{{ path('admin_post_sort', {field: field, type: 'DESC'}) }}">{{ label }} <i class="fa fa-sort-up"></i></a>
            {% endif %}
        {% else %}
            <a href="{{ path('admin_post_sort', {field: field, type: 'ASC'}) }}">{{ label }} <i class="fa fa-sort"></i></a>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% from _self import thead %}



{% block body %}
    <h1>{{ '%entity% list'|trans({'%entity%': 'Post'}, 'admin') }}</h1>

    {% include 'AntoSimpleBlogBundle:Post:filter.html.twig' with {form: form} %}

    {{ knp_pagination_render(paginator) }}

    <table class="table table-striped table-hover table-bordered records_list">
        <thead>
            <tr>
                <th scope="col">{{ thead('post', 'id', 'Id') }}</th>
                <th scope="col">{{ thead('post', 'name', 'Name') }}</th>
                <th scope="col">{{ thead('post', 'email', 'Email') }}</th>
                <th scope="col">{{ thead('post', 'address', 'Address') }}</th>
                <th scope="col">{{ thead('post', 'text', 'Text') }}</th>
                <th scope="col">{{ 'Actions'|trans({}, 'admin') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for post in paginator %}
                <tr>
                    <td><a href="{{ path('admin_post_show', {id: post.id}) }}">{{ post.id }}</a></td>
                    <td>{{ post.name }}</td>
                    <td>{{ post.email }}</td>
                    <td>{{ post.address }}</td>
                    <td>{{ post.text }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="{{ path('admin_post_show', {id: post.id}) }}">
                                <i class="fa fa-file-o"></i> {{ 'show'|trans({}, 'admin') }}
                            </a>
                            <a class="btn btn-default btn-sm" href="{{ path('admin_post_edit', {id: post.id}) }}">
                                <i class="fa fa-edit"></i> {{ 'edit'|trans({}, 'admin') }}
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {{ knp_pagination_render(paginator) }}
    
    <ul class="new_entry list-unstyled">
        <li>
            <a class="btn btn-info" href="{{ path('admin_post_new') }}">
                <i class="fa fa-plus"></i> {{ 'Create a new entry'|trans({}, 'admin') }}
            </a>
        </li>
    </ul>
    
{% endblock %}
