{% extends "AntoSimpleBlogBundle::base.html.twig" %}

{% form_theme form 'AntoSimpleBlogBundle:Form:bootstrap_3_layout.html.twig' %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'Post'}, 'admin') }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ '%entity% creation'|trans({'%entity%': 'Post'}, 'admin') }}</h1>

    {{ form_start(form, {action: path('admin_post_create')}) }}
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary" type="submit">{{ 'Create'|trans({}, 'admin') }}</button>
        </p>
    {{ form_end(form) }}

        
        <div class="btn-group record_actions">

            <a class="btn btn-info" href="{{ path('admin_post') }}">
                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
            </a>


        </div>


{% endblock %}
