{% extends "AntoSimpleBlogBundle::base.html.twig" %}

{% block title %}Post - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table table-hover record_properties">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>{{ post.name }}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{ post.email }}</td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td>{{ post.address }}</td>
            </tr>
            <tr>
                <th scope="row">Text</th>
                <td>{{ post.text }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">

            <a class="btn btn-info" href="{{ path('frontend_post') }}">
                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
            </a>
        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

{% endblock %}
