<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title 'My admin' %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <!-- put your nav bar here -->
    {% if app.user %}
        <a class="btn btn-primary" href="{{ path('anto_simple_blog_admin_logout') }}" style="position: absolute; top: 20px; right: 40px">
            <i class="fa fa-edit"></i> Sign Out
        </a>
    {% else %}
        <a class="btn btn-primary" href="{{ path('admin_post') }}" style="position: absolute; top: 20px; right: 40px"   >
            <i class="fa fa-edit"></i> Sign In
        </a>
    {% endif %}
</nav>
<div class="container">
    {% block body '' %}
</div>
{% block javascripts %}
    <script src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('/bundles/antosimpleblog/js/confirm_delete.js') }}"></script>
{% endblock %}
</body>
</html>